<% include partials/header %>


<title>About</title>
<link rel="stylesheet" href="CSS/about.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Chal Jeevi leiye</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <% if(user){ %>
                <li class="nav-item">
                    <span class="navbar-text">
                        Welcome!
                        <%= user.fname %>
                    </span>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <% if(!user){ %>
                    <a class="nav-link" href="/login">Login</a>
                    <% }else{ %>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div style="height: 60px;"></div>
<!-- About -->
<div class="container">
    <div class="row text-center">
        <div class="col">
            <div class="row text-center">
                <div class="col">
                    <img src="Media/sun.png" alt="sun image" width="80" height="80" class="sun-animation">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="Media/selfie.gif" alt="travel-gif" height="400" width="600" class="">
                </div>
            </div>
        </div>
        <div class="col text-center align-self-center">
            <img src="Media/all_travel.gif" alt="all travel" class="travel">
        </div>
    </div>
    <div class="row  justify-content-center">
        <div class="col">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus dolores saepe voluptatum inventore
                laudantium
                maiores aut explicabo voluptates quae veniam, a aliquid perspiciatis unde id magnam recusandae, ea
                rerum
                nemo.
                Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Ipsum laboriosam consequatur quam non, nisi enim
                tempore,
                mollitia labore, illum quae voluptatem similique autem laborum excepturi eligendi reiciendis
                assumenda
                reprehenderit
                adipisci? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem enim culpa necessitatibus,
                esse
                suscipit
                recusandae itaque? Accusamus porro assumenda eius, quasi nihil fugiat voluptatibus aspernatur
                exercitationem!
                Dicta,
                labore eaque? Odio! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ullam
                inventore
                vitae
                sunt,
                illum sit amet architecto excepturi dolorum ipsum consequuntur tenetur a tempora delectus fuga.
                Laudantium
                quidem
                nulla repellendus.
            </p>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->

<% include partials/footer %>