<!Doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/contact_us.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>CONTACT</title>
</head>

<body data-vide-bg="../Media/contactbg">

    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">TravelEasy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="landing_page.html">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li>
                        <a class="nav-link" href="login.html">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!--Contact us details-->
    <div class="w3-container">
        <br>
        <br>
        <h2>Mumbai Head Office</h2>
        <p>TravelEasy Pvt. Ltd.,
            DLF Building No. 5 Tower B
            DLF Cyber City, DLF Phase 2
            Sector 25, Andheri,Mumbai, India</p>
        <hr>
        <p>TOLL FREE:
            <a href=>1-800-102-8747 </a>- All Major operators<br>
            <a href=>1-800-120 2508 </a>- All Major operators<br>
            <a href=>1-800-11 8747</a> - From MTNL/BSNL phones</p>
    </div>

    <article class="w3-container">
        <h2>Delhi Head Office</h2>
        <p>TravelEasy Pvt. Ltd.
            314, L.J. Road,
            Bengaluru - 400016 India.
        </p>
        <hr>
        <p>TOLL FREE:
            <a href=>1800-103-8765 </a>- All Major operators<br>
            <a href=>1800-102-9987 </a>- All Major operators<br>
            <a href=>1-800-11 8747</a> - From MTNL/BSNL phones</p>
        </div>
    </article>

    <div class="scroll">
        <img src="../Media/scroll.jpg">
    </div>









    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="../JS/jquery.vide.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>