/* .sun {
  height: 400px;
  top: 56px;
} */

.sun-animation {
  top: 25px;
  -moz-animation: spin 8s infinite ease-in-out;
  -webkit-animation: spin 8s infinite linear;
  animation: spin 8s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.travel {
  position: absolute;
  top: 30px;
  left: 50px;
}
